body{
    background: #141414;
    color: #ffffff;
    /* overflow: hidden; */
  }
  
  .movie-app > .custom-row {
    display: flex;  
  flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
      overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-right: 10px;
  }
  

  /* .movie-app > .custom-row > * {
  flex: 0 0 auto; 
  margin-right: 10px;
} */

  .movie-app > .custom-row::-webkit-scrollbar {
    display: none; 
  } 



  .custom-container {
    display: flex;  
  flex-wrap: wrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .custom-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .custom-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .custom-container {
      max-width: 1366px;
    }
  }
  
  @media (min-width: 1600px) {
    .custom-container {
      max-width: 1520px;
    }
  }
  
  @media (min-width: 1800px) {
    .custom-container {
      max-width: 1680px;
    }
  }
  
  @media (min-width: 1900px) {
    .custom-container {
      max-width: 1900px;
    }
}


.custom-row {
    display: flex;
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px; 
  }
  

  .custom-col {
    flex-grow: 1; 
    padding: 0 15px; 
  }
  

  .custom-head-row {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    align-items: center;
    justify-content: space-between;
  }


  

  .custom-image-container {
    display: flex;
    justify-content: start;
    margin: 1rem;
    position: relative;
    transition: transform 0.2s;
  }
  


  .custom-image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.custom-image-container:hover .custom-overlay {
	opacity: 1;
}
  
  .custom-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  }
  

.custom-mr-2 {
    margin-right: 0.5rem; 
  }
  
  /* Define custom CSS classes */
.custom-col-search {
    box-sizing: border-box;
    flex: 0 1 auto;
    max-width: 250px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .custom-col-search {
        max-width: none; /* Ensure the input spans the entire row */
    }
}


